<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contact</key>
	<string>steve@stevenohrdenlive.com</string>
	<key>description</key>
	<string>Now Playing: CBS News Radio KXNT 100.5 FM Covering Las Vegas Metropolitan Area </string>
	<key>emailsubject</key>
	<string>Steve Nohrden Live!</string>
	<key>homepage</key>
	<string>http://kxnt-am.listenernetwork.com/</string>
	<key>source</key>
	<string>http://provisioning.streamtheworld.com/pls/KXNTAM.pls</string>
	<key>twitteraccount</key>
	<string>kxnt</string>
	<key>headliner-schedule</key>
	<string>Steve Nohrden Live
3pm - 5pm on Sundays</string>
	<key>headliner-tagline</key>
	<string>Discussing real estate and the politics that surround it</string>
</dict>
</plist>
