<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contact</key>
	<string>steve@stevenohrdenlive.com</string>
	<key>description</key>
	<string>Now Playing: Las Vegas&apos; #1 Hit Music Station 98.5 KLUC</string>
	<key>emailsubject</key>
	<string>Steve Nohrden Live!</string>
	<key>headliner-schedule</key>
	<string>Steve Nohrden Live
3pm - 5pm on Sundays</string>
	<key>headliner-tagline</key>
	<string>Discussing real estate and the politics that surround it</string>
	<key>homepage</key>
	<string>http://friendswithbenefits.kluc.radio.com/m/register.aspx</string>
	<key>source</key>
	<string>http://provisioning.streamtheworld.com/pls/KLUCFM.pls</string>
	<key>twitteraccount</key>
	<string>985KLUC</string>
</dict>
</plist>
