<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contact</key>
	<string>steve@stevenohrdenlive.com</string>
	<key>description</key>
	<string>Now Playing: Mix 94.1 Today&apos;s Best Music Mix -- Steve Nohrden Live on KXNT 100.5 FM, Sundays from 3 to 6pm (702) 689-HOME that&apos;s (702) 689-4663 with Kevin Mikrut Solve YOUR Real Estate Problems NOW (702) 689-HOME that&apos;s (702) 689-4663 --</string>
	<key>emailsubject</key>
	<string>Steve Nohrden Live!</string>
	<key>headliner-schedule</key>
	<string>Steve Nohrden Live
3pm - 5pm on Sundays</string>
	<key>headliner-tagline</key>
	<string>Discussing real estate and the politics that surround it</string>
	<key>homepage</key>
	<string>http://insider.mix941fm.radio.com/m/register.aspx</string>
	<key>source</key>
	<string>http://provisioning.streamtheworld.com/pls/KMXBFM.pls</string>
	<key>twitteraccount</key>
	<string>Mix941</string>
</dict>
</plist>
